*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.picture{
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items:center ; */
    margin: 20px;
    height: 60%;
    width: 97%;
}
.picture img{
    object-fit:cover;
    border-radius: 20px;
    max-height: 400px;
    width: 100%;
}
.about h2{
    position: absolute;
    top: 300px;
    left: 500px;
    transform: translate(-50px -50px);
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
.partition{
    padding: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
    /* height: 80%; */
    /* width: 80%; */
    /* background-color: red; */
}
.left-part{
    height: 100%;
    width: 40%;
    /* background: green; */

}
.left-part h1{
    color: rgb(69, 67, 67);
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: bold;
}
.left-part h1 span{
    color: rgb(7, 172, 238);
}
.left-part p{
    font-size: 14px;
    /* font-weight: ; */
    justify-content:left;
    letter-spacing: 0.5px;
    line-height: 28px;
}
.right-part{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: blue; */
}
 .img-1 img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
    top: 620px;
    left: 800px;
}
 .img-2 img{
    height: 300px;
    width: 350px;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
    top: 820px;
    left: 770px;
   
}
 .img-3 img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
    top: 720px;
    left: 850px;
}
.cards-part{
    /* height:80%; */
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    background-color: rgba(164, 161, 161, 0.226);
}
.left-card{
    background-color: white;
    border-radius: 20px;
    justify-content: left;
    width: 22%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* line-height: 24px; */
    padding: 30px 20px;
    box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 0.303)

}
.left-card h1{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 5px;
}
.left-card p{
font-size: 15px;
}

.left-card span{
    color: rgb(26, 179, 240);
}

.right-card{
    background-color: white;
    border-radius: 20px;
    justify-content: left;
    width: 22%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* line-height: 24px; */
    padding: 30px 20px;
    box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 0.774)

}
.right-card h1{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    word-spacing: 5px;
}
.right-card p{
font-size: 15px;
}

.right-card span{
    color: rgb(26, 179, 240);
}
.emoji-section{
    height: 40%;
    width: 100%;
    background-color:blue;
}
.about-desc{
 width: 60%;
    margin: 20px 250px;
}
.desc-1{
    /* line-height: 0px; */

}
.desc-1 span{
color: rgb(24, 160, 214);
font-weight: bold;
}
.desc-1 p{
    display: inline;
  

}
